@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Noto Sans Bengali", sans-serif;
}

.dreamuniversity{
  background: url(../src/customAssets/dreamBG.jpg) no-repeat center/cover;
  /* background: url(https://i.ibb.co/bJD2Kvk/dreamBG.jpg) no-repeat center/cover; */
}

.dreamslider .slick-prev::before {
  color: rgb(0, 0, 0); /* Change this to your desired color */
}

.dreamslider .slick-next::before {
  color: rgb(0, 0, 0); /* Change this to your desired color */
}

#FirstChoice .slick-prev::before {
  color: rgb(0, 0, 0); /* Change this to your desired color */
}

#FirstChoice .slick-next::before {
  color: rgb(0, 0, 0); /* Change this to your desired color */
}

#FirstChoice .slick-list{
  padding-top: 25px !important;
}
